G. Years.py
B. Factorial Divisibility.py
C. Longest Regular Bracket Sequence.py
A. ABC.py
G. Fake News (easy)
B1. Character Swap (Easy Version).py
B. Mystic Permutation.py
A. Boredom.py
F. Three Chairs.py